{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
        <div class="col">
            <h1>ABOUT PAGE</h1>
            <p>Demonstrate of page cache</p>
            <p>Demonstrate of date: {{index .StringMap "test"}}</p>

            <p>
                {{if ne (index .StringMap "remote_ip") ""}}
                    Your remote IP Addess is {{index .StringMap "remote_ip"}}
                {{else}}
                    I don't know your IP address. Visit the <a href="/">Home page</a>
                {{end}}
            </p>
        </div>
        </div>
    </div>
{{end}}